.hero {
  min-height: 790px;
  padding: 60px;
  margin-bottom: 100px;

  .hero__text {
    text-align: center;

    p {
      font-size: 18px;
      max-width: 500px;
      margin: 0 auto;
    }
  }
}

.sbs {
  padding: 100px 0;
  display: flex;
  align-items: center;

  .sbs__image {
    flex: 0 0 45%;
    height: 700px;
  }

  .sbs__text {
    margin-left: 6.5%;
    padding: 30px;
  }
}


@media screen and (max-width: 1025px) {
  .sbs {
    padding: 100px 0;
    display: flex;
    align-items: center;

    .sbs__image {
      flex: 0 0 50%;
      height: 500px;
    }

    .sbs__text {
      margin-left: 10px;
      padding: 30px;
    }
  }
}

@media screen and (max-width: 640px) {
  .hero {
    padding: 20px;
    margin-bottom: 25px;
    min-height: 675px;

    .hero__text {
      text-align: left;
    }
  }


  .sbs {
    padding: 25px 20px;
    flex-direction: column;

    .sbs__image {
      width: 100%;
      flex: 0 0 200px;
    }

    .sbs__text {
      margin-left: 0;
      padding: 0;
      font-size: 16px;

      .link-arrow + p {
        padding-top: 50px;
      }
    }
  }

}