@use 'vars' as v;
@import "speakers-archive";
@import "home";
@import "header";
@import "footer";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #E5E5E5;
  font-family: v.$font;
}

.container {
  max-width: 1530px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid transparent;
  font-size: 14px;
  padding: 10px 90px;
  color: v.$white;
  background: v.$text-color;
  font-weight: 600;
  transition: all 0.3s ease;


  &:hover, &:focus {
    background: transparent;
    color: v.$text-color;
    border-color: v.$black;
  }
}

.button.hollow {
  border-color: v.$black;
  color: v.$text-color;
  background: transparent;

  &:hover, &:focus {
    background: v.$black;
    color: v.$white;
  }
}

.link-arrow {
  position: relative;
  text-decoration: none;
  padding-left: 50px;

  &:hover, &:focus {
    opacity: .5;
  }

  &::before {
    height: 36px;
    width: 36px;
    position: absolute;
    content: url("../../assets/images/Arrow.svg");
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.bg-cover {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.stretched-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.rel-content {
  position: relative;
  z-index: 2;
}

.of-cover,
.stretched-img {
  object-fit: cover;
  font-family: 'object-fit: cover;';
}

.sup-title {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px!important;
}

h1 {
  font-weight: 900;
  font-family: v.$font;
  font-size: 64px;
}

h2 {
  font-weight: 900;
  font-size: 36px;
  font-family: v.$font;
}

/////////////////////////////////////////
@media screen and (max-width: 376px) {

  .container {
    padding: 0;
  }
  .main-content{
    margin-top: 135px;
  }

  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 24px;
  }
  .sup-title {
    font-size: 14px!important;
  }
  .button {
    text-align: center;
    width: 100%;
    height: 50px;
    display: block;
  }
}